.content {
   margin: 30px 30px 30px 30px; 
}
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
/*
    background: url("https://raw.githubusercontent.com/evhsnewspaper-cougar-chronicles/evhsnewspaper-cougar-chronicles.github.io/27754ee55dc5e7812d7f5ac6f346e041187e4d5c/logo.jpg")no-repeat center center fixed; 
    background-size: contain;
    background-repeat: repeat-y;
    background-attachment: scroll; 
*/
    /*background-color: #008080*/
  }
  main {
    flex: 1 0 auto;
  }
.nav-wrapper {
    background-color: #26a69a;
}
footer.page-footer {
    background-color: #26a69a;
}

.content {
    margin: 30px;
}
/*
.slider {
    margin-left: 30px;
    margin-right: 30px;
}*/
